<div class="navbar bg-slate-100 rounded-xl mb-5 drop-shadow-md">
  <div class="navbar-start">
    <a class="p-4 text-xl">R5.05 - Angular</a>
  </div>
  <div class="navbar-center hidden lg:flex ">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a routerLink="/dashboard">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0_225_7" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24"
                  height="24">
              <rect width="24" height="24" fill="#D9D9D9"/>
            </mask>
            <g mask="url(#mask0_225_7)">
              <path d="M2 21V19H22V21H2ZM3 18V11H6V18H3ZM8 18V6H11V18H8ZM13 18V9H16V18H13ZM18 18V3H21V18H18Z"
                    fill="#1C1B1F"/>
            </g>
          </svg>
          Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/heroes">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
               class="lucide lucide-users-round">
            <path d="M18 21a8 8 0 0 0-16 0"/>
            <circle cx="10" cy="8" r="5"/>
            <path d="M22 20c0-3.37-2-6.5-4-8a5 5 0 0 0-.45-8.3"/>
          </svg>
          Heroes
        </a>
      </li>
    </ul>
  </div>
</div>
