<section class="flex items-center justify-center rounded-2xl bg-base-200 p-5 w-96">
  @if (hero) {
    <div class="flex flex-col">
      <h2 class="text-xl">Hero details :
        <span class="font-bold">
        {{hero.name | uppercase}}
      </span>
      </h2>

      <div class="flex flex-row gap-5 mb-5">
        <span>id: {{ hero.id }}</span>
        <span>name: {{ hero.name }}</span>
      </div>

      <div>
        <label for="name">Change hero name : </label>
        <input class="border-2 border-slate-300 hover:border-slate-200 rounded p-1" id="name" [(ngModel)]="hero.name"
               placeholder="name">
      </div>
    </div>
  } @else {
    <h2>
      Aucun hero selectionné !
    </h2>
  }
</section>
