<a [routerLink]="['/heroes-edit', hero?.id]" class="btn p-5 w-fit h-fit justify-start">
  <button class="flex flex-col gap-5 justify-center " type="button" [class.btn-active]="hero === selectedHero"
          (click)="onSelect(hero)">
    <div class="flex flex-row gap-2 items-center">
      <span class="">{{ hero?.name }}</span>
      <div class="badge rounded-lg badge-warning">
        @if (hero?.vote === 0) {
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
               class="lucide lucide-star">
            <polygon
              points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/>
          </svg>
        } @else if (hero?.vote === 1) {
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="black"
               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
               class="lucide lucide-star">
            <polygon
              points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/>
          </svg>
        }
      </div>
    </div>
    <div class="flex flex-row gap-2 justify-center items-center">
      <div class="badge badge-lg badge-error gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
             class="lucide lucide-heart-pulse">
          <path
            d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"/>
          <path d="M3.22 12H9.5l.5-1 2 4.5 2-7 1.5 3.5h5.27"/>
        </svg>
        {{ hero?.health }}
      </div>
      <div class="badge badge-lg badge-neutral gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
             class="lucide lucide-sword">
          <polyline points="14.5 17.5 3 6 3 3 6 3 17.5 14.5"/>
          <line x1="13" x2="19" y1="19" y2="13"/>
          <line x1="16" x2="20" y1="16" y2="20"/>
          <line x1="19" x2="21" y1="21" y2="19"/>
        </svg>
        {{ hero?.attack }}
      </div>
      <div class="badge badge-lg badge-info gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
             class="lucide lucide-rabbit">
          <path d="M13 16a3 3 0 0 1 2.24 5"/>
          <path d="M18 12h.01"/>
          <path
            d="M18 21h-8a4 4 0 0 1-4-4 7 7 0 0 1 7-7h.2L9.6 6.4a1 1 0 1 1 2.8-2.8L15.8 7h.2c3.3 0 6 2.7 6 6v1a2 2 0 0 1-2 2h-1a3 3 0 0 0-3 3"/>
          <path d="M20 8.54V4a2 2 0 1 0-4 0v3"/>
          <path d="M7.612 12.524a3 3 0 1 0-1.6 4.3"/>
        </svg>
        {{ hero?.evasion }}
      </div>
    </div>
  </button>
</a>
